---
layout: splash
author_profile: false
header:
  overlay_filter: 0.3
  overlay_image: /assets/images/splash1.webp
excerpt: "Cuidar das suas unhas é cuidar de você.\n
Profissional com anos de experiência em nail design, gelinho, alongamento em fibra, banho de gel e decoração e manutenção de unhas em geral. Agende já o seu horário."
intro: 
  - excerpt: Com mais de 5 anos de experiência como nail designer, formada no exterior, Priscila Silveira oferece a voce serviços de manicure, pedicure, alongamento a gel moldado, unhas de fibra de vidro e também o amado Gelinho.
feature_row:
  - image_path: assets/images/FibraDeVidro.webp
    alt: Unhas de Fibra de Vidro
    title: Unhas de Fibra de Vidro
    excerpt: Na técnica de unhas de Fibra de Vidro, a base do alongamento é feita com fibra e o gel apenas une e dá firmeza para as unhas.
    style: "max-height: 398px"
  - image_path: /assets/images/AlongamentoGel1.webp
    alt: Unha com alongamento a gel
    title: Alongamento de Gel
    excerpt: Alongamento de Gel Moldado, para isso é usado um molde de papel nas unhas e modelado de acordo com o tamanho e formato desejado pela cliente.
    style: "max-height: 398px"
  - image_path: /assets/images/Gelinho.webp
    title: Gelinho
    excerpt: Gelinho é um verniz em gel que dura mais que um verniz normal e serve de proteção da sua unha.
    style: "max-height: 398px"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}