---
layout: splash
author_profile: false
header:
  overlay_filter: 0.3
  overlay_image: /assets/images/splash1.jpeg
excerpt: Cuidar das suas unhas é cuidar de voce.
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type=center`'
feature_row:
  - image_path: assets/images/unha3.jpg
    alt: Serviço 1
    title: Serviço 1
    excerpt: This is some sample content that goes here with **Markdown** formatting.
  - image_path: /assets/images/unha1.jpg
    image_caption: Nos siga no [Instagram](https://instagram.com/priscilasilveiranails){:target="_blank"}
    alt: Serviço 2
    title: Serviço 2
    excerpt: This is some sample content that goes here with **Markdown** formatting.
    url: https://instagram.com/priscilasilveiranails
    btn_label: Leia mais
    btn_class: btn--primary
  - image_path: /assets/images/unha2.jpg
    title: Serviço 3
    excerpt: This is some sample content that goes here with **Markdown** formatting.
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}